*{
			text-align:center;
		}
			h1{
				text-align: center;
				color: red;
			}
			#main{
				position:relative;
				height:800px;
			}
		#first{
				width:45%;
				border:5px solid #f2f2f2;
				margin: 0 15px;
				padding: 2px;
				position:absolute;
				left:0;
				top:0px;
				background-color: #e6e6ff;
				height:380px;
			}
		
			#second{
				width:45%;
				border:5px solid #f2f2f2;
				margin: 0 15px;
				padding: 2px;
				position:absolute;
				right:0;
				top:0;
				background-color: #e6e6ff;
				height:380px;
				
			}
			#third{
				width:45%;
				border:5px solid #f2f2f2;
				margin: 0 15px;
				padding: 2px;
				position:absolute;
				left:0;
				bottom:0;
				background-color: #e6e6ff;
				height:380px;
			}
			#forth{
				width:45%;
				border:5px solid #f2f2f2;
				margin: 0 15px;
				padding: 2px;
				position:absolute;
				right:0;
				bottom:0;
				background-color: #e6e6ff;
				height:380px;
			}
			img{
				width:80%;
				height:70%;
			}
	body {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	} 
  div#header ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-size: ;
   width : 100%;
   margin : auto;
  }
	div#header {
		background-color: #1D3557;
	}
  div#header img {
		width: 250px;
    height: 100px;
    padding-top: 10px;
	}
	div#header li {
	float: left;
  width:16.66%;
  padding:0;
	}
  div#header li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.5em;
  display: block;
  }
  div#header a.active {
    background-color:#E63946;
  }
	div#header a:link {
		text-decoration: none;
		color: #F1FAEE;
	}
	div#header a:visited {
		color: #F1FAEE;
	}
	div#header a:hover {
		padding: 14px 16px;
		background-color: #457B9D;
		color: #F1FAEE;
	}
	div#header a:active {
		padding: 14px 16px;
		background-color:#E63946;
		color: #F1FAEE;
	}
  div#header p {
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 0px;
  }
	#footer img{
		width:15px;
		height:12px;
	}
	