 body {
		font-size: 1.2em;
		width: 960px;
		margin-left: auto;
		margin-right: auto;
   font-family: Comic Sans MS, Georgia, "Times New Roman", Times, serif;
	} 
 
 
 
  div#header img {
		width: 250px;
    height: 100px;
    padding-top: 10px;
 
  }
 div#header ul {
   list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       font-size: ;
        width : 100%;
        margin : auto;
 
        
}

	div#header {
		background-color: #1D3557;
    margin-bottom:10px;
    text-align:center;
    border-radius: 20px;
    
	}
	div#header li {
	float: left;
  width:16.66%;
  padding:0;
  
	}
  div#header li a {
  

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border-radius: 20px;
}
div#header li	a:link {
		text-decoration: none;
		color: #F1FAEE;
	}
div#header li	a:visited {
		color: #F1FAEE;
	}
div#header li	a:hover {
		padding: 14px 16px;
		background-color: #457B9D;
		color: #F1FAEE;
	}
div#header li	a:active {
		padding: 14px 16px;
		background-color:#E63946;
		color: #F1FAEE;
}