.transport1{
  position: relative;
 
}
.overlay6 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
 height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #064b84;
  border-radius: 20px;
}
.transport1:hover .overlay6 {
  opacity: 1;
}

.text6 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;


}







.transport2{
  position: relative;
 
}
.overlay7 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 20.0%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #064b84;
  border-radius: 20px;
}
.transport2:hover .overlay7 {
  opacity: 1;
}

.text7 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}




.transport3{
  position: relative;
 
}
.overlay8 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 40.0%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #064b84;
  border-radius: 20px;
}
.transport3:hover .overlay8 {
  opacity: 1;
}

.text8 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}






.transport4{
  position: relative;
 
}
.overlay9 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 60.0%;
  right: 0;
 height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #064b84;
  border-radius: 20px;
}
.transport4:hover .overlay9 {
  opacity: 1;
}

.text9 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}




.transport5{
  position: relative;
 
}
.overlay10 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 80.0%;
  right: 0;
 height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #064b84;
  border-radius: 20px;
}
.transport5:hover .overlay10 {
  opacity: 1;
}

.text10 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}






}