
#overlay1 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #242582;
  border-radius: 20px;
}
#luxdet:hover #overlay1 {
  opacity: 1;
}

#text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
  
}





#busdet{
  position: relative;
 
}



#overlay2 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 20%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #242582;
  border-radius: 20px;
}
#busdet:hover #overlay2 {
  opacity: 1;
}

#text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}






#famdet{
  position: relative;
 
}



#overlay3 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 40%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #242582;
  border-radius: 20px;
}
#famdet:hover #overlay3 {
  opacity: 1;
}

#text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}







#ryodet{
  position: relative;
 
}



#overlay4 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 60%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #242582;
  border-radius: 20px;
}
#ryodet:hover #overlay4 {
  opacity: 1;
}

#text4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}








#onsendet{
  position: relative;
 
}



#overlay5 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 80%;
  right: 0;
  height: 267.4px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  background-color: #242582;
  border-radius: 20px;
}
#onsendet:hover #overlay5 {
  opacity: 1;
}

#text5 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;




}


